<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <form method="POST" class="shadow p-4">
        <input type="text" name="username" class="form-control mb-3" placeholder="Username">
        <input type="password" name="password" class="form-control mb-3" placeholder="Password">
        <button class="btn btn-success w-100">Login</button>
    </form>
</div>

</body>
</html>