<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Register</h2>
        <form method="POST" class="shadow p-4">
            <input type="text" name="username" class="form-control mb-3" placeholder="Username">
            <input type="password" name="password" class="form-control mb-3" placeholder="Password">
            <button class="btn btn-primary w-100">Register</button>
        </form>
    </div>

</body>
</html>