<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Contact List</h1>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>
                <a href="/delete/{{ user[0] }}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
            <td>
                <a href="/update/{{ user[0]}}">Edit</a>
            </td>



        </tr>
        {% endfor %}

    </table>

    <br>
    <a href="/">Back to Home</a>
    <a href="/contact">Add New Contact</a>

</body>
</html>
